.THIS .slds-text-title_caps {
    font-weight: bold;
    margin-bottom: 10px;
}

.THIS .request-response {
    margin-top: 16px;
}

.THIS .request {
    padding-right: 20px !important;
}

.THIS .response {
    padding-left: 20px !important;
    border-left: solid 1px #D8DDE6;
}

.THIS .probability {
	padding-right: 4px;
    text-align: right;
}

.THIS {
    position: relative;
}

.THIS img {
    margin: 8px 0;
    height: 150px;
}

.THIS .result-grid > div {
    padding: 2px 3px 0 3px;
    font-size: 12px;
    border-bottom: 1px dashed rgb(216, 221, 230);
}