.THIS {
    /* height: 320px; */
}

.THIS .slds-card__body {
    padding: 0 12px;
}

.THIS .slds-card {
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    background-clip: padding-box;
}

.THIS .slds-badge {
    vertical-align: middle;
}